<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [45]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
df_contenido = pd.read_csv("datos/df_contenido.csv", index_col=0)

In [46]:
df_contenido.sample()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Es_original
show_id,,,,,,,,,,,,,,,,,
s1510,Movie,"Ariana grande: excuse me, i love you",Paul Dugdale,Ariana Grande,United States,"December 21, 2020",2020,TV-MA,98 min,"Documentaries, Music & Musicals",Ariana Grande takes the stage in London for he...,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [47]:
movie = df_contenido[df_contenido.type=="Movie"]
movie2021 = movie[movie.release_year == 2021]
movie2021

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Es_original
show_id,,,,,,,,,,,,,,,,,
s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,NaN,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,NaN,NaN,NaN,NaN,NaN,NaN
s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,NaN,NaN,NaN,NaN,NaN,NaN
s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,NaN,NaN,NaN,NaN,NaN,NaN
s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,NaN,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...,NaN,NaN,NaN,NaN,NaN,NaN
s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,NaN,Thrillers,After a deadly home invasion at a couple’s new...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s1426,Movie,Creating The Queen's Gambit,NaN,NaN,United States,"January 8, 2021",2021,TV-14,14 min,Documentaries,A fascinating character. Exquisite sets. A wig...,NaN,NaN,NaN,NaN,NaN,NaN
s1432,Movie,Stuck Apart,NaN,"Engin Günaydın, Haluk Bilginer, Binnur Kaya, Ö...",Turkey,"January 8, 2021",2021,TV-MA,NaN,"Comedies, Dramas, International Movies","Entrenched in a midlife crisis, Aziz seeks sol...",Drama,"January 8, 2021",96.0,6.1,Turkish,1.0
s1437,Movie,Ratones Paranoicos: The Band that Rocked Argen...,"Alejandro Ruax, Ramiro Martínez","Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...",NaN,"January 6, 2021",2021,TV-MA,76 min,"Documentaries, International Movies, Music & M...","The irrepressible Ratones Paranoicos, Argentin...",NaN,NaN,NaN,NaN,NaN,NaN
s1467,Movie,The Minimalists: Less Is Now,NaN,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...,Documentary,"January 1, 2021",53.0,5.9,English,1.0
s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,NaN,"Comedies, International Movies","With the peak of his career long behind him, a...",Comedy,"January 1, 2021",102.0,4.3,Korean,1.0

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [48]:
## Primero tenemos que pasar la columna duration a int ya que se encuentra en un formato string poco convencional
df_contenido["duration"] = df_contenido["duration"].astype(str) #nos aseguramos que la columna es string

#usamos funcion para limpiar los datos y convertirlos
def limpiar_duracion(valor):
    if isinstance(valor,str): #nos aseguramos que la columna es string
        valor = valor.strip().lower() 
        if 'min' in valor:
            return int(valor.replace(' min', '').strip()) #sacamos el " min" y convertimos a entero
        elif 'season' in valor:  # Manejar valores de "Seasons"
            return None 
        return None
    
#aplicamos funcion
df_contenido["duration"]=df_contenido["duration"].apply(limpiar_duracion)

df_contenido.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Es_original
show_id,,,,,,,,,,,,,,,,,
s5417,Movie,Chris D'Elia: Man on Fire,Bill D'Elia,Chris D'Elia,United States,"June 27, 2017",2017,TV-MA,66.0,Stand-Up Comedy,Unbridled comic Chris D'Elia reconsiders his a...,NaN,NaN,NaN,NaN,NaN,NaN
s7234,Movie,Krish Trish and Baltiboy: The Greatest Trick,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,60.0,Children & Family Movies,The consequences of trickery are explored in s...,NaN,NaN,NaN,NaN,NaN,NaN
s7992,TV Show,Shadow of Truth,NaN,NaN,Israel,"January 27, 2017",2016,TV-MA,NaN,"Crime TV Shows, Docuseries, International TV S...",This documentary series explores the explosive...,NaN,NaN,NaN,NaN,NaN,NaN
s6924,TV Show,Happyish,NaN,"Steve Coogan, Kathryn Hahn, Sawyer Shipman, Br...",United States,"July 1, 2016",2015,TV-MA,NaN,"TV Comedies, TV Dramas",A middle-aged adman is shaken up by his new bo...,NaN,NaN,NaN,NaN,NaN,NaN
s5509,Movie,Casting JonBenet,Kitty Green,NaN,"United States, Australia, China","April 28, 2017",2017,TV-14,81.0,Documentaries,Local actors from JonBenet Ramsey's hometown o...,Documentary,"April 28, 2017",80.0,6.1,English,1.0

In [52]:
duracion90 = df_contenido[df_contenido.duration==90]
duracion90[["title","duration"]]

                                   title  duration
show_id
s1                  Dick Johnson Is Dead      90.0
s95                            Show Dogs      90.0
s108                    A Champion Heart      90.0
s230                        The Old Ways      90.0
s284                Misha and the Wolves      90.0
...                                  ...       ...
s8652                              Tyson      90.0
s8656               Unaccompanied Minors      90.0
s8671                      Vantage Point      90.0
s8736    Who's That Knocking at My Door?      90.0
s8777                         Yellowbird      90.0

[152 rows x 2 columns]

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [56]:
india = df_contenido[df_contenido.country=="India"]
df_dps_2018 = india[india.release_year >= 2018]
df_dps_2018

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Es_original
show_id,,,,,,,,,,,,,,,,,
s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,NaN,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaN,NaN,NaN,NaN
s40,TV Show,Chhota Bheem,NaN,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"September 16, 2021",2021,TV-Y7,NaN,Kids' TV,"A brave, energetic little boy with superhuman ...",NaN,NaN,NaN,NaN,NaN,NaN
s127,Movie,Shikara,Vidhu Vinod Chopra,"Aadil Khan, Sadia Khateeb, Zain Khan Durrani, ...",India,"September 2, 2021",2020,TV-14,NaN,"Dramas, International Movies, Romantic Movies",A couple must strive to remain resilient after...,NaN,NaN,NaN,NaN,NaN,NaN
s191,Movie,Thimmarusu,Sharan Koppisetty,"Satya Dev, Priyanka Jawalkar, Brahmaji",India,"August 28, 2021",2021,TV-14,125.0,"Dramas, International Movies",Eight years after a young man is framed for mu...,NaN,NaN,NaN,NaN,NaN,NaN
s267,TV Show,The Creative Indians,NaN,NaN,India,"August 15, 2021",2020,TV-MA,NaN,"Docuseries, International TV Shows",From chefs and comedians to filmmakers and fas...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s8236,TV Show,The Calling,Bumpy,NaN,India,"April 1, 2019",2018,TV-MA,NaN,"International TV Shows, Reality TV",Food-crazed travel junkies journey across Indi...,NaN,NaN,NaN,NaN,NaN,NaN
s8268,Movie,The Dark Side of Life: Mumbai City,Tariq Khan,"Mahesh Bhatt, Kay Kay Menon, Avii, Nikhil Ratn...",India,"December 31, 2019",2018,TV-MA,121.0,"Dramas, International Movies",Struggling with Mumbai's pressures and private...,NaN,NaN,NaN,NaN,NaN,NaN
s8673,Movie,Veerey Ki Wedding,Ashu Trikha,"Pulkit Samrat, Yuvika Chaudhry, Jimmy Shergill...",India,"December 31, 2019",2018,TV-14,130.0,"Comedies, Dramas, International Movies","Quick to throw punches in the name of justice,...",NaN,NaN,NaN,NaN,NaN,NaN
s8684,Movie,Vodka Diaries,Kushal Srivastava,"Kay Kay Menon, Raima Sen, Mandira Bedi, Sharib...",India,"December 31, 2019",2018,TV-14,113.0,"Dramas, International Movies, Thrillers",While investigating a series of murders and th...,NaN,NaN,NaN,NaN,NaN,NaN
s8776,TV Show,Yeh Meri Family,NaN,"Vishesh Bansal, Mona Singh, Akarsh Khurana, Ah...",India,"August 31, 2018",2018,TV-PG,NaN,"International TV Shows, TV Comedies","In the summer of 1998, middle child Harshu bal...",NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [59]:
df_clasif = df_contenido.query('rating=="TV-14"|rating=="R"')
df_clasif

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Es_original
show_id,,,,,,,,,,,,,,,,,
s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,NaN,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,NaN,NaN,NaN,NaN,NaN,NaN
s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,NaN,Thrillers,After a deadly home invasion at a couple’s new...,NaN,NaN,NaN,NaN,NaN,NaN
s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,NaN,NaN,"September 22, 2021",2021,TV-14,NaN,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl...",NaN,NaN,NaN,NaN,NaN,NaN
s22,TV Show,Resurrection: Ertugrul,NaN,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,NaN,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...,NaN,NaN,NaN,NaN,NaN,NaN
s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166.0,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s8795,Movie,اشتباك,Mohamed Diab,"Nelly Karim, Hany Adel, Tarek Abdel Aziz, Ahme...","Egypt, France","October 11, 2018",2016,TV-14,98.0,"Dramas, Independent Movies, International Movies",Amid the tumult following Egyptian President M...,NaN,NaN,NaN,NaN,NaN,NaN
s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120.0,"Dramas, International Movies",A change in the leadership of a political part...,NaN,NaN,NaN,NaN,NaN,NaN
s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158.0,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaN,NaN,NaN,NaN
s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaN,NaN,NaN,NaN
s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111.0,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [72]:
df_director = df_contenido.query('director=="Christopher Nolan"|director=="Martin Scorsese"')
print(df_director[["title","director"]])

                                                     title           director
show_id
s341                                             Inception  Christopher Nolan
s1359                                       Shutter Island    Martin Scorsese
s2633                         No Direction Home: Bob Dylan    Martin Scorsese
s2861                                                 Hugo    Martin Scorsese
s3228                                         The Irishman    Martin Scorsese
s3760    Rolling Thunder Revue: A Bob Dylan Story by Ma...    Martin Scorsese
s6112                      Alice Doesn't Live Here Anymore    Martin Scorsese
s6827                                    Gangs of New York    Martin Scorsese
s6881                                           GoodFellas    Martin Scorsese
s7432                                         Mean Streets    Martin Scorsese
s7821                                          Raging Bull    Martin Scorsese
s8273                                         The Departed    Martin Scorsese
s8736                      Who's That Knocking at My Door?    Martin Scorsese

In [ ]:
# contarr los titulos de cada director
conteo_directores = df_director.groupby('director')['title'].count().reset_index()

# renombrar las columnas para mayor claridad
conteo_directores.columns = ['director', 'cantidad_dirigida']

print(conteo_directores)

            director  cantidad_dirigida
0  Christopher Nolan                  1
1    Martin Scorsese                 12

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [ ]:
paises = ['United States', 'United Kingdom', 'Canada'] #creamos la lista de paises que queremos buscar
paises_df = df_contenido[df_contenido["country"].isin(paises)] #usamos isin() para chequear los paises que queremos en el df

#Vemos como son los valores unicos de la columna
paises_df["Language"].unique()

array(['English', nan, 'English/Arabic', 'Spanish/English',
       'English/Taiwanese/Mandarin', 'French', 'Portuguese', 'Japanese',
       'Spanish', 'English/Spanish', 'English/Hindi', 'English/Japanese',
       'English/Mandarin', 'English/Russian', 'English/Akan'],
      dtype=object)

In [ ]:
patron_regex = "/"#si suponemos que las que tienen mas de dos lengujaes estan separadas por "/"
df_leng = paises_df[paises_df["Language"].str.contains(patron_regex,na=False)] #indicamos con la funcion contains

df_leng[["Language"]].value_counts() #contamos los valores unicos con respecto a los paises el contenido que tiene mas de un lenguaje

Language
English/Spanish               2
English/Akan                  1
English/Arabic                1
English/Japanese              1
English/Hindi                 1
English/Mandarin              1
English/Russian               1
English/Taiwanese/Mandarin    1
Spanish/English               1
Name: count, dtype: int64

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [115]:
df_1520 = df_contenido[df_contenido["release_year"].between(2015,2020,inclusive="both")]
df_1520[["title","release_year"]]

                                                     title  release_year
show_id
s1                                    Dick Johnson Is Dead          2020
s17      Europe's Most Dangerous Man: Otto Skorzeny in ...          2020
s18                                        Falsa identidad          2020
s22                                 Resurrection: Ertugrul          2018
s33                                          Sex Education          2020
...                                                    ...           ...
s8797                                           Yunus Emre          2016
s8798                                            Zak Storm          2016
s8802                                              Zinzana          2015
s8804                                          Zombie Dumb          2018
s8807                                               Zubaan          2015

[5624 rows x 2 columns]

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [ ]:
filtroIMDb = df_contenido[df_contenido["IMDB Score"].between(6.5,8.0,inclusive="both")] #Creamos filtro con between
filtro_duracion = filtroIMDb[filtroIMDb["duration"].isnull()] #filtramos los nulos

filtro_duracion[["title","IMDB Score","duration"]]

                               title  IMDB Score  duration
show_id
s835                    Blue Miracle         6.7       NaN
s896                          Oxygen         6.5       NaN
s911                         Monster         6.5       NaN
s1025         Arlo the Alligator Boy         6.7       NaN
s1158                       Bad Trip         6.6       NaN
...                              ...         ...       ...
s5784                 Audrie & Daisy         7.2       NaN
s5841     The Fundamentals of Caring         7.3       NaN
s5850                Team Foxcatcher         7.3       NaN
s5902                            Tig         7.4       NaN
s5907    What Happened, Miss Simone?         7.6       NaN

[77 rows x 3 columns]

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [124]:

filtro90150= df_contenido[df_contenido["duration"].between(90.0,150.0,inclusive="both")]
filtro90150[["title","duration"]]

                                 title  duration
show_id
s1                Dick Johnson Is Dead      90.0
s8                             Sankofa     125.0
s10                       The Starling     104.0
s13                       Je Suis Karl     127.0
s27                     Minsara Kanavu     147.0
...                                ...       ...
s8791    You Don't Mess with the Zohan     113.0
s8795                           اشتباك      98.0
s8799                         Zed Plus     131.0
s8800                            Zenda     120.0
s8807                           Zubaan     111.0

[1982 rows x 2 columns]

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [137]:
tv_show= df_contenido[df_contenido.type=="TV Show"] #filtramos primero por tvshow
str_love= "love" #indicamos la palabra clave que queremos filtrar

tv_show_love = tv_show[tv_show["title"].str.contains(str_love, regex = True,case=False)]#creamos un df con la formula contains() que filtra por nuestra palabra clave

tv_show_love[["title"]]

                                      title
show_id
s26                    Love on the Spectrum
s660        Bangkok Love Stories: Innocence
s732        Love (ft. Marriage and Divorce)
s884                   Love, Death & Robots
s1033                          Love Naggers
...                                     ...
s7633    O-Negative, Love Can’t Be Designed
s7893                    Roonpi Secret Love
s8568        The Year of Happiness and Love
s8576                       This Is My Love
s8722                         What Is Love?

[71 rows x 1 columns]

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [142]:
 #palabra clave que vamos a filtrar
johnson = "Johnson"

#usamos el contain() y el NA=false, para que no nos de error porque hay nulos
df_johnson = df_contenido[df_contenido["director"].str.contains(johnson,regex=True,na = False,case=False)]#

df_johnson[["title","director"]]

,title,director
show_id,,
s1,Dick Johnson Is Dead,Kirsten Johnson
s830,Dog Gone Trouble,Kevin Johnson
s847,Home,Tim Johnson
s2053,"Love, Guaranteed",Mark Steven Johnson
s2084,The Debt Collector 2,Jesse V. Johnson
s2456,The Stolen,Niall Johnson
s2497,Honeytrap,Rebecca Johnson
s3512,Avengement,Jesse V. Johnson
s3718,Triple Threat,"Jesse V. Johnson, Jesse Johnson"
s4034,Juanita,Clark Johnson
s4662,The Debt Collector,Jesse V. Johnson
s4699,To All the Boys I’ve Loved Before,Susan Johnson
s4834,Alex Strangelove,Craig Johnson
s5283,Carrie Pilby,Susan Johnson
s5537,Frat Star,"Grant S. Johnson, Ippsie Jones"
s6377,Brick,Rian Johnson
s6554,Daffedar,Johnson Esthappan
s6803,Freshman Year,Jude Okwudiafor Johnson
s6848,Ghost Rider,Mark Steven Johnson
s7242,Kung Fu Panda: Holiday,Tim Johnson
s7370,Mad Money,"Callie Khouri, Jesse V. Johnson"
s7623,Nowhere Boy,Sam Taylor-Johnson
s7913,S.W.A.T.,Clark Johnson
s7947,Savage Dog,Jesse V. Johnson
s8083,Star Wars: Episode VIII: The Last Jedi,Rian Johnson

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [146]:
 #palabra clave que vamos a filtrar
Tyson = "Mike Tyson"

#usamos el contain() y el NA=false, para que no nos de error porque hay nulos
df_Tyson = df_contenido[df_contenido["cast"].str.contains(Tyson,regex=True,na = False,case=False)]#

df_Tyson

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Es_original
show_id,,,,,,,,,,,,,,,,,
s138,Movie,Crocodile Dundee in Los Angeles,Simon Wincer,"Paul Hogan, Linda Kozlowski, Jere Burns, Jonat...","Australia, United States","September 1, 2021",2001,PG,NaN,"Action & Adventure, Comedies","When Mick ""Crocodile"" Dundee and his family la...",NaN,NaN,NaN,NaN,NaN,NaN
s5842,Movie,Ip Man 3,Wilson Yip,"Donnie Yen, Zhang Jin, Lynn Hung, Patrick Tam,...","China, Hong Kong","June 18, 2016",2015,PG-13,NaN,"Action & Adventure, Dramas, International Movies",Martial arts master Ip springs into action whe...,NaN,NaN,NaN,NaN,NaN,NaN
s6471,Movie,China Salesman,Tan Bing,"Li Dong Xue, Mike Tyson, Steven Seagal, Janick...",China,"September 24, 2018",2017,TV-MA,111.0,"Action & Adventure, International Movies",A Chinese engineer travels to a war-torn Afric...,NaN,NaN,NaN,NaN,NaN,NaN
s7192,Movie,Kickboxer: Retaliation,Dimitri Logothetis,"Alain Moussi, Jean-Claude Van Damme, Mike Tyso...",United States,"April 26, 2018",2017,R,110.0,Action & Adventure,Sloan's vow to never return to Thailand is cut...,NaN,NaN,NaN,NaN,NaN,NaN
s8652,Movie,Tyson,James Toback,"Mike Tyson, Trevor Berbick","United States, France","March 1, 2019",2008,R,90.0,"Documentaries, Sports Movies","In this surprisingly emotional documentary, he...",NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [147]:
df_contenido[["title","country","release_year"]]

                         title        country  release_year
show_id
s1        Dick Johnson Is Dead  United States          2020
s2               Blood & Water   South Africa          2021
s3                   Ganglands            NaN          2021
s4       Jailbirds New Orleans            NaN          2021
s5                Kota Factory          India          2021
...                        ...            ...           ...
s8803                   Zodiac  United States          2007
s8804              Zombie Dumb            NaN          2018
s8805               Zombieland  United States          2009
s8806                     Zoom  United States          2006
s8807                   Zubaan          India          2015

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [163]:
columnas_date=df_contenido.filter(like="date")
print("El data frame con las columnas que contienen 'date' es ")
columnas_date

El data frame con las columnas que contienen 'date' es

                 date_added
show_id
s1       September 25, 2021
s2       September 24, 2021
s3       September 24, 2021
s4       September 24, 2021
s5       September 24, 2021
...                     ...
s8803     November 20, 2019
s8804          July 1, 2019
s8805      November 1, 2019
s8806      January 11, 2020
s8807         March 2, 2019

[8807 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [167]:
df_francia = df_contenido.query ('country=="France" and duration>= 80')
df_francia[["title","country", "duration"]]

                                        title country  duration
show_id
s635                               Wonder Boy  France      83.0
s1111                           Madame Claude  France     113.0
s1237                              Sentinelle  France      81.0
s1422                        The Intouchables  France     112.0
s1781                              Rogue City  France     116.0
s2695                             School Life  France     112.0
s2835                              I am Jonas  France      82.0
s3211                          I Lost My Body  France      81.0
s3731                         The Wolf's Call  France     116.0
s3834                             Shéhérazade  France     111.0
s4035                                  Lady J  France     111.0
s4088                             Paris Is Us  France      84.0
s4877          Dany Boon: Des Hauts De France  France     113.0
s5475                                    Arès  France      80.0
s5637    Casablancas: The Man Who Loved Women  France      82.0
s5743                              West Coast  France      81.0
s6335                             Blockbuster  France      85.0
s7273                            Le K Benzema  France     121.0
s7379                                Magnetic  France     110.0
s7526              Mune: Guardian of the Moon  France      85.0
s7747            Plaire, aimer et courir vite  France     133.0
s8151                           Tarif de nuit  France      81.0
s8169                                   Terra  France      98.0
s8219                     The Boss's Daughter  France      98.0

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.